<tbody>
<tr>
  <td><%= link_to product_path( product.id) do %>
    <%= product.name %>
    <% end %>
  </td>
  <td><%= truncate(product.description, length: 100) %></td>
  <td><%= product.formatted_price %></td>
</tr>
</tbody>  