<div id="review-form-errors">
  <% if @review.errors.present? %>
    <div id = "error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being published</h2>
      <ul>
        <% @reviews.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>