<h1>Edit A Product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> | <%= link_to 'Delete', @product, method: :delete, data: {confirm: 'Are you sure'} %> | <%= link_to 'Back', products_path %> 
